html,body,#root{
  height:99%;
  --note-bg: rgb(220, 220, 220);
  background:lightgray;
}
.App {
  width:100%;
  margin-top:10px;
  display:flex;
  flex-direction:horizontal;
  align-items:stretch;
  height:100%;
  filter:drop-shadow(0px 30px 20px rgba(80,80,80,0.2));
}
#loginCard
{
  width: 50vw;
  margin:auto;
  display:flex;
  flex-direction:column;
  align-items: center;
  padding:0;
}
#loginCard h1
{
  margin-bottom:0;
  padding-bottom:0;
}
#loginCard h2
{
  margin-top:0;
  margin-bottom: 2rem;
}

#loginCard input
{
  width:50%;
  margin-bottom: 0.2rem;
  font-size:1.2rem;
  padding:5px;
}
#loginCard button
{
  width:50%;
  background:lightBlue;
  border:none;
  padding:10px;
  margin-top:1rem;
  margin-bottom:1rem;
  font-size:1.2rem;
}
#loginCard p
{
  margin:0;
  padding:0;
  margin-top:0.5rem;
}
.noteSelector{
  text-decoration:none;
  list-style-type: none;
  margin-top:1px;
}

.noteSelector div{
  text-align:right;
  border-top:3px solid #52cb1f;
  background:var(--note-bg);
  padding:5px;
  width:fit-content;
  min-width:60px;
  margin-right:0;
  margin-left:auto;
  border-radius:5px 0px 0px 5px;
  border-right:1px inset lightgray;
}

.noteSelector .active{
  background:lightgray;
  box-shadow: 0px 10px 20px 0px rgba(0, 70, 6, 0.4);
  margin-bottom:10px;
  margin-top:5px;
  transition:.2s ease all;
  border:none;
}

.addButton{
  text-align:right;
  margin-right:0;
  margin-left:auto;
  min-width:110px;
}
.addButton input{
  width:10px;
  padding:10px;
  border-radius:5px 0px 0px 5px;
  border:1px solid green;
  border-right:none;
  margin-top:5px;
  background:var(--note-bg);
  outline:none;
  transition:.4s ease width;
}

.addButton input:focus{
  width:60px;
}

.addButton button{
  padding:10px;
  padding-right:15px;
  border:none;
  border:1px solid green;
  border-left:none;
  background:var(--note-bg);
  width:20px;
  transition:.2s ease background;
}

.addButton button:hover{
  background:green;
}

.notesList{ 
  padding:0;
  flex-basis: 1;
  flex-grow: 1;
  margin-top:40px;
}

.notesContent{
  flex-basis:1;
  flex-grow:10;
}

.notesContent .deleteButton{
  padding:10px;
  background:var(--note-bg);
  border-radius:0px 15px 0px 0px;
  transition:.2s ease all;
}
.deleteButton{
  border:1px solid red;
}
.notesContent .deleteButton:hover{
  background:red;
  color:white;
}

.notesContent textarea{
  width:99%;
  height:89vh;
}

.notesContent input, .notesContent textarea{
  padding:10px;
  border:none;
  outline:none;
}

.notesContent input{
  background:var(--note-bg);
  border-radius:15px 0px 0px 0px;
}

.notesContent input:active{
  border:none;
}

.notesContent textarea{
  border-radius:0px 25px 25px 10px;
  border-top:1px solid green;
  border-bottom:1px solid green;
  background:var(--note-bg);
  resize:none;
}


